.App {
  text-align: center;
}

.dropdown-menu {
  width: 300px !important;
}

.formControl {
    minWidth: 120
}

.table {
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

.tableRowCenter {
  text-align : center;
  width : 100%;
}